[submodule "kohana/system"]
	path = kohana/system
	url = git://github.com/kohana/core.git
[submodule "kohana/modules/auth"]
	path = kohana/modules/auth
	url = git://github.com/kohana/auth.git
[submodule "kohana/modules/database"]
	path = kohana/modules/database
	url = git://github.com/kohana/database.git
[submodule "kohana/modules/pagination"]
	path = kohana/modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "kohana/modules/orm"]
	path = kohana/modules/orm
	url = git://github.com/kohana/orm.git
[submodule "kohana/modules/orm-mptt"]
	path = kohana/modules/orm-mptt
	url = git://github.com/evopix/orm-mptt.git
